color = 12px
bbTag(prop,args)
   -webkit-{prop} args
   -moz-{prop} args
   -ms-{prop} args
   -o-{prop} args
   {prop} args


// baTag(prop,args)
// 	prop -webkit-{args}
// 	prop -moz-{args}
// 	prop -o-{args}
// 	prop -ms-{args}
// 	prop {args}